@font-face {
  font-family: 'euclid';
  src: url("../public/euclid-font.ttf");
}

body {
  font-family: 'euclid';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


