@font-face {
  font-family: 'euclid';
  src: url("../public/euclid-font.ttf");
}

@font-face {
  font-family: 'milk';
  src: url("../public/MilkyCoffee.ttf");
}

/* Colours: #C4D0A8 - pale green
        #EBDED7 - white-ish
        #426043 - dark green
        #2A1915   - dark brown
        #D1792C - orange
        
        */

:root {
  --primary: #8b9f5e;
  --primary-light: #b9c996;
  --primary-dark: #304e3b;
  --neutral-dark: #251f1d;
  --neutral-light: #EBDED7;
  --secondary: #dea550;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'euclid';
  background-color:#fbf2ed ;
}

.hide {
  display: none;
}