@font-face {
  font-family: 'euclid';
  src: url("../public/euclid-font.ttf");
}
body {
  margin: 0;
  font-family: 'euclid';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
