.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    margin: 1em;
}

.dashboard-item {
    display: flex;
    justify-content: center;
}

@media (max-width: 800px) {
    .dashboard {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 32px;
        margin: 1em;
    }
}