.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin: 1em;
    align-items: center;
    
}

.dashboard-item {
    padding: 1em;
    flex: 1;
}

@media (max-width: 800px) {
    .dashboard {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 12px;
        margin: 1em;
    }
}