
.new-entry-container {
    display: flex;
    margin: 32px;
    justify-content: center;
    flex-wrap: wrap;

}

.calendar {
    margin: 1em;
}
.showEntryList {
    list-style-type: none;
    margin: 2rem;

}

.padding-be-gone {
    padding: 0px
}