.counter-container {
    background-color: var(--primary);
    border-radius: 48px;
    padding-top: 8px;
    color: white;
    text-align: center;
    min-width: 350px;
}

.counter-container>h3 {
    color: white;
}

.number-of-meals {
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 5em;

}

