

.footer-container {
    position: relative;
    margin-top: 4em;
}
.FooterBar{  
    padding:12px;  
    width: 100%;
    text-align: center;
    position: inherit;
    left: 0;
    bottom: 0;
    list-style: none;
    color: white;
    padding: 1em;
    background-color: #426043;
    position: relative;
}


.custom-shape-divider-bottom-1664370261 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1664370261 svg {
    position: relative;
    display: block;
    width: calc(113% + 1.3px);
    height: 41px;
}

.custom-shape-divider-bottom-1664370261 .shape-fill {
    fill: #426043;
}


