

.FooterBar{  
    padding: 1rem;  
    background:rgb(67, 204, 228);  
    font-family:Arial, sans serif;  
    font-size:15px;  
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    list-style: none;
    color: white;
}

