h3{
    font-family: 'euclid';
    color:var(--primary);
    text-align: center;
    padding: 1em;
    font-weight: bold;

}
.form-input{
    background-color: var(--neutral-light);
    width: 25rem;
    height: 2rem;
    font-size: large;
    font-family: 'euclid';
    border-radius: 25px;
    color: #426043;
    padding: 6px 10px;
    margin: 5px 5px;
    margin-right: 12px;
    display: inline-block;
    border: 1px solid var(--neutral-light);
    /* overflow-wrap: break-word; */
    min-height: fit-content;
}

textarea{
    height: 20rem;
}
input[type=submit]{
    background-color: var(--secondary);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    width: fit-content;
    border-radius: 25px;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    color: var(--neutral-light);
    margin-top: 1em;
    font-family: 'euclid';
    border: 1px solid var(--neutral-light);

}
#notes{
    color: #426043;
}

input[type=submit]:hover {
    background-image: linear-gradient(to left, var(--primary), var(--primary-dark));
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    
  }

#form-container{
    background-color: var(--primary);
    border-radius: 25px;
    padding: 1em;
    width: fit-content;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: auto;
    margin-bottom: 3em;
    justify-content: space-between;
    box-shadow: 0 0 1px 1px var(--primary-dark);
}