.form-input{
    background-color: #B6C7D6;
    width: 23rem;
    height: 2rem;
    font-size: large;
    border-radius: 25px;
    color: #5f37d8;
    padding: 6px 6px;
    margin: 5px 5px;
    display: inline-block;
    border: 1px solid #ccc;

}
input[type=submit]{
    background-color: #B6C7D6;
    font-size: large;
    width: 23rem;
    border-radius: 25px;
    color: white;
    margin: 5px 5px;

}

input[type=submit]:hover {
    background-image: linear-gradient(to left, #5f37d8, #eeeaf3);
  }

#form-container{
    background-color: rgb(67, 204, 228);
    border-radius: 25px;
    border: 2px solid;
    border-color: #B6C7D6;
    padding: 20px;
    width: 400px;
    height: auto;
    margin: auto;
    justify-content: space-between;
}