@font-face {
    font-family: 'milk';
    src: url("../../public/MilkyCoffee.ttf");
  }

* {
    margin: 0px;
    padding: 0px;
}
header h1 {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    font-family: 'milk';
    margin-top: 0px;
    padding-top: 1em;
    color: #f5ebe5;
    text-shadow: 2px 2px rgb(22, 12, 12);
  }

header {
    text-align: center;
    font-size: 22px;
    background-color: #426043;
    margin: 0px;
    color: #f5ebe5;
    text-shadow: 1px 1px 1px rgb(22, 12, 12);
    position: relative;
}

.bar {
    height: 20px;
    padding-top: 16px;
    padding-right: 16px;
}

.toggle-button {
    position:absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    
}
 .custom-shape-divider-bottom-1664367773 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1664367773 svg {
    position: relative;
    display: block;
    width: calc(102% + 1.3px);
    height: 90px;
    transform: rotateY(180deg);
    
}

.custom-shape-divider-bottom-1664367773 .shape-fill {
    fill: #FFFFFF;
} 


@media (max-width: 800px) {
    .toggle-button {
        display: flex;
    }

    .navbarlinks {
    order: 2;
    display: flex;
    margin: 2rem;
    }

    .navbarlinks ul {
        width:100%;
        flex-direction: column;
        background-color: transparent #426043;
        color: white;
    }

    .navbarlinks li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    }

    .navbarlinks a {
        text-decoration: none;
        color: rgb(68, 162, 225);
        font-weight: 500;
        transition: color 0.1s ease-in-out;
      }

    .navbarlinks a:hover {
        color: white;
        transition: color 0.1s ease-in-out;
      }
}


  
 
  
  
  





