

.NavBar{  
    padding:0;     
    font-size:20px;  
    width: 100%;
    text-align: center;
}

.nav_links {  
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color:#779a78;  
    text-decoration:none;
    display: flex;
}

.navlist {
    display: inline-block;
    float: none;
}

.navlist :hover {
    color: #fbf2ed ;
    background-color: #779a78;
    border-radius: 48px;
}

@media (max-width: 800px) {
    .nav_links {
        display: none;
    }
    .NavBar {
        display: none;
    }
}





