* { 
    box-sizing: border-box; 
}

.search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    margin: 2rem;
    padding: 1.5rem;
    background-color: #D1792C;
    width: 500px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
}

.form-header {
    margin: 0 1rem 1rem 1rem;
    color: #fff
}

.search-form {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    position: relative;
    padding: 15px 40px 15px 20px;
    width: 20px;
    color: #525252;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    border-radius: 48px;
    transition: 1s;
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
}
    
.search-bar:focus{ 
    width: 100%; 
}

i {
    position: relative;
    left: -38px;
    color: #000;
    pointer-events: none;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background:#C4D0A8;
    color: #2A1915;
    font-size: 1rem;
    border-radius: 48px;
    width: fit-content;
    border: rgb(75, 74, 74);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    border-width: 2px;
    margin: 0.5rem;
    padding: 1rem;
    transform: translateY(var(--translate-y,0));
} 

.search-button:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.search-results {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .form-wrapper {
        width: 90vw;
        text-align: center;
    }
}